.loading-container {
    position: fixed; /* Фиксируем контейнер относительно окна */
    top: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину экрана */
    height: 100%; /* Занимает всю высоту экрана */
    background-color: rgba(255, 255, 255, 0); /* Полупрозрачный фон */
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    z-index: 1000; /* Чтобы контейнер был поверх других элементов */
}

.loading-gif {
    width: 100px; /* Размер гифки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
