/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.card {
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .card:hover {
        border-color: #6f42c1;
    }

.card p {
    font-size: 20px;
}

.number {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.description {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .description img {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }

/* Цвета для чисел */
.purple {
    color: #6f42c1;
}

.red {
    color: #dc3545;
}

.green {
    color: #28a745;
}

.orange {
    color: #fd7e14;
}

.black {
    color: #333;
}
