@using Logic.Filters
@using Logic.enums

<div class="side-panel @(IsOpen ? "open" : "")">
    <div class="panel-content">
        <button @onclick="OnClose">Закрыть</button>
        @if (Type == FilterPanelType.Client)
        {
            <ClientFilterComponent Filter=@Filter.ClientFilter />
        }
        else if (Type == FilterPanelType.Request)
        {
            <RequestFilterComponent Filter=@Filter.RequestFilter />
        }
        else if (Type == FilterPanelType.Experience)
        {
            <ExperienceFilterComponent Filter=@Filter.ExperienceFilter />
        }
    </div>
</div>

<div class="overlay @(IsOpen ? "active" : "")" @onclick="OnClose"></div>

@code {
    [Parameter]
    public FilterPanelType Type { get; set; }
    [Parameter]
    public EventCallback Close { get; set; }
    [Parameter]
    public bool IsOpen { get; set; }
    [Parameter]
    public FilterBase Filter { get; set; } = null!;

    private async void OnClose()
    {
        await Close.InvokeAsync();
    }
}